.text-section {
  .text-section-title {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;

    .label {
      font-weight: 800;
    }

    .hide-button {
      align-items: center;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-right: 5px; // To move the button away from the resize handle
      padding: 0;

      &.hidden {
        svg {
          rotate: 180deg;
        }
      }

      &:hover {
        .arrow-outline {
          fill: #ddd;
        }

        .arrow-center {
          fill: #ddd;
        }
      }
    }
  }

  .text-section-text {
    overflow-y: scroll;

    .phrase-row {
      display: flex;
      flex-direction: row;
      margin: 0 5px 15px 5px;

      .phrase-index {
        align-items: flex-start;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        text-align: right;
        width: 30px;
      }

      .phrase {
        color: #595959;
        width: 386px;

        .highlighted {
          background-color: #fdf2d0;
          color: #222222;
          font-weight: bold;
        }
      }
    }
  }
}
