.text-pane {
  box-sizing: border-box;
  color: #666;
  width: 430px;

  .text-title {
    align-items: center;
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    color: #222;
    display: flex;
    font-size: 14px;
    justify-content: center;
    width: 100%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
