.text-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;

  .text-section-title {
    align-items: center;
    background-color: #dceff2;
    box-sizing: border-box;
    color: #222222;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    padding: 5px 15px 6px;
    width: 100%;

    .actual-title {
      margin-left: 15px;

      .label {
        font-weight: bold;
      }

      .case-count {
        font-style: italic;
        font-weight: 500;
      }
    }

    .accuracy-icon {
      padding-left: 5px;
    }
  }

  .text-section-text {
    flex: 1;
    overflow-y: scroll;

    .phrase {
      box-sizing: border-box;
      color: #595959;
      font-size: 14px;
      line-height: 1.36;
      padding: 8px 15px;
      width: 100%;

      .highlighted {
        background-color: #fdf2d0;
        color: #222222;
        font-weight: bold;
      }
    }

    .divider {
      background-color: #72bfca;
      height: 1px;
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }
}
