.text-section {
  display: flex;
  flex-direction: column;

  .text-section-title {
    align-items: center;
    background-color: #dceff2;
    color: #222222;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px 6px;
    width: 100%;

    .actual-title {
      margin-left: 15px;

      .label {
        font-weight: bold;
      }

      .case-count {
        font-style: italic;
        font-weight: 500;
      }
    }

    .accuracy-icon {
      padding-left: 5px;
    }
  }

  .text-section-text {
    flex: 1;
    overflow-y: scroll;

    .phrase-row {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      padding: 8px 15px;

      .phrase-index {
        align-items: flex-start;
        color: #222222;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        text-align: right;
        width: 30px;
      }

      .phrase {
        color: #595959;
        width: 100%;

        .highlighted {
          background-color: #fdf2d0;
          color: #222222;
          font-weight: bold;
        }
      }
    }

    .divider {
      background-color: #72bfca;
      height: 1px;
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }
}
