.text-pane {
  box-sizing: border-box;
  color: #666;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;

  .text-title {
    align-items: center;
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    color: #222;
    display: flex;
    font-size: 14px;
    justify-content: center;
    position: relative;
    white-space: pre-wrap;
    width: 100%;

    .highlighted {
      color: #177991;
      font-weight: bold;
    }

    .reset-button {
      position: absolute;
      right: 4px;
    }
  }

  .text-container {
    position: relative;
    overflow: hidden;
  }
}
