.collapse-button {
  align-items: center;
  background-color: #eee;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0;
  width: 24px;

  &:hover {
    background-color: #e4e4e4;
  }

  .arrow-icon {
    &.left {
      rotate: -90deg;
    }

    &.right {
      rotate: 90deg;
    }
  }
}
