h1 {
  font-size: medium;
  margin-bottom: 0;
}

h2 {
  font-size: small;
  margin-bottom: 0;
}

.storyq {
  text-align: left;
}

.title {
  text-align: center;
  font-size: larger;
}

.storyText {
  height: 75vh;
  width: 90vw;
}

.storyq div {
  margin: 0;
}

.button-list {
  padding: 5px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.back-arrow {
  position: absolute;
  top: 0;
  left: 0;
  color: teal;
  cursor: pointer;
}

.back-arrow:hover {
  font-size: large;
}

.sq-progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #75a1fa;
  margin: 0 !important;
}

.sq-progress-bar {
  height: 100%;
  background-color: aqua;
  margin: 0 !important;
}

.sq-pb-label {
  color: black;
  text-align: right;
}

.sq-checkboxes {
  margin-left: 30px!important;
}

.dx-item-content label {
  display: flex;
}

.dx-item-content span {
  flex-shrink: 0;
  padding-right: 3px;
  padding-top: 5px;
}

.dx-dropdowneditor-field-clickable {
  flex-shrink: 1;
}

.dx-button-mode-contained {
  border-color: #aaa;
  box-shadow: 2px 2px lightgray;
  margin-left: 20px!important;
}

.dx-button .dx-button-content {
  padding: 10px;
}