.storyq {
  text-align: left;
}

.title {
  text-align: center;
  font-size: larger;
}

.storyText {
  height: 75vh;
  width: 90vw;
}

.storyq div {
  margin: 10px;
}

.button-list {
  padding: 5px;
}